/* src/pages/Checkout.css */

.checkout-page {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fbfd;
}

.checkout-card {
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
}

.checkout-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.place-order-btn {
  width: 100%;
  background-color: #6c5ce7;
  border: none;
  padding: 14px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.place-order-btn:hover {
  background-color: #5a4bcf;
}
